<div class="container w-auto mx-auto mt-10">
    <h1 class="font-roboto text-5xl">Blog</h1>
</div>

<div class="flex justify-center mt-5 p-2">
    <img src="../assets/blog_construction.png" alt="under construction img" />
</div>

<style>
    h1 {
        text-align: center;
        text-shadow: 0 1px 4px grey;
    }
</style>
