<div class="container w-auto mx-auto mt-10">
    <h1 class="text-5xl text-green-600">THIS IS CONTACT</h1>
</div>

<style>
    h1 {
        text-align: center;
        text-shadow: 2px 2px 2px gray;
    }
</style>
