<script>
    import Avatar from "../Avatar.svelte";
    import Twitter from "../Twitter.svelte";
    import LinkedIn from "../LinkedIn.svelte";
    import Github from "../Github.svelte";
    import Phone from "../Phone.svelte";
    import SocialLink from "../SocialLink.svelte";
    let w;
</script>

<div class="flex justify-between ml-5 lg:mx-8 lg:mt-8" bind:clientWidth={w}>
    <!-- item 1 -->
    <div class="flex">
        <div class="bg-burnt-sienna w-14 h-56 hidden lg:block" />
        <div class="pt-3 lg:flex lg:flex-col lg:p-5 lg:space-y-5">
            <p class="font-roboto text-lg lg:text-2xl text-persian-green">
                Hello, I'm
            </p>
            <h1 class="font-roboto text-4xl lg:text-7xl text-gray-800">
                Phil Fernandez
            </h1>
            <p class="font-roboto text-lg lg:text-2xl text-persian-green">
                Software Developer
            </p>
            <div
                class="absolute mt-16 m-auto top-full right-0 bottom-0 left-0 lg:pt-20 lg:static"
            >
                <h2 class="text-5xl font-hand">Let's Connect</h2>
            </div>
        </div>
    </div>
    <!-- item 2 -->
    {#if w > 951}
        <div class="border border-gray-300 rounded-md shadow-md">
            <Avatar width="400px" height="410px" />
        </div>
    {:else}
        <Avatar width="200px" height="205px" />
    {/if}
</div>
<div class="hidden lg:flex lg:space-x-12 lg:ml-32">
    <SocialLink href="https://github.com/philFernandez" target="_blank">
        <Github />
    </SocialLink>

    <SocialLink
        href="https://www.linkedin.com/in/computer-science-with-phil/"
        target="_blank"
    >
        <LinkedIn />
    </SocialLink>

    <SocialLink href="https://twitter.com/this1isphil" target="_blank">
        <Twitter />
    </SocialLink>

    <SocialLink href="tel:+12093278319">
        <Phone />
    </SocialLink>
</div>
<div class="lg:hidden flex flex-col items-center space-y-12 mt-36">
    <div class="flex space-x-16">
        <SocialLink href="https://github.com/philFernandez" target="_blank">
            <Github />
        </SocialLink>

        <SocialLink
            href="https://www.linkedin.com/in/computer-science-with-phil/"
            target="_blank"
        >
            <LinkedIn />
        </SocialLink>
    </div>

    <div class="flex space-x-16">
        <SocialLink href="https://twitter.com/this1isphil" target="_blank">
            <Twitter />
        </SocialLink>

        <SocialLink href="tel:+12093278319">
            <Phone />
        </SocialLink>
    </div>
</div>

<style>
    h1.font-roboto {
        text-shadow: -2px 2px 2px gray;
    }

    h2 {
        text-align: center;
    }
    p {
        text-shadow: 0 2px 6px #a5c6c7;
    }
</style>
