<script>
    import { Router, Route } from "svelte-routing";
    import Contact from "./routes/Contact.svelte";
    import Blog from "./routes/Blog.svelte";
    import Portfolio from "./routes/Portfolio.svelte";
    import Home from "./routes/Home.svelte";
    import Header from "./Header.svelte";
</script>

<svelte:head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Playfair+Display&family=Roboto&family=Roboto+Mono&family=Nothing+You+Could+Do&display=swap"
        rel="stylesheet"
    />
</svelte:head>

<Router>
    <Header />
    <main>
        <Route path="contact" component={Contact} />
        <Route path="blog" component={Blog} />
        <Route path="portfolio" component={Portfolio} />
        <Route path="/"><Home /></Route>
    </main>
</Router>

<style>
    :global(body) {
        background-color: #eaeef1;
        /* background-color: antiquewhite; */
    }
</style>
