<script>
    export let width;
    export let height;
</script>

<!-- width="450px"
    height="480px" -->
<svg
    {width}
    {height}
    viewBox="0 0 264 280"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    ><desc>Avatar Maker</desc><defs
        ><circle id="path-1" cx="120" cy="120" r="120" /><path
            d="M12,160 C12,226.27417 65.72583,280 132,280 C198.27417,280 252,226.27417 252,160 L264,160 L264,-1.42108547e-14 L-3.19744231e-14,-1.42108547e-14 L-3.19744231e-14,160 L12,160 Z"
            id="path-3"
        /><path
            d="M124,144.610951 L124,163 L128,163 L128,163 C167.764502,163 200,195.235498 200,235 L200,244 L0,244 L0,235 C-4.86974701e-15,195.235498 32.235498,163 72,163 L72,163 L76,163 L76,144.610951 C58.7626345,136.422372 46.3722246,119.687011 44.3051388,99.8812385 C38.4803105,99.0577866 34,94.0521096 34,88 L34,74 C34,68.0540074 38.3245733,63.1180731 44,62.1659169 L44,56 L44,56 C44,25.072054 69.072054,5.68137151e-15 100,0 L100,0 L100,0 C130.927946,-5.68137151e-15 156,25.072054 156,56 L156,62.1659169 C161.675427,63.1180731 166,68.0540074 166,74 L166,88 C166,94.0521096 161.51969,99.0577866 155.694861,99.8812385 C153.627775,119.687011 141.237365,136.422372 124,144.610951 Z"
            id="path-5"
        /></defs
    ><g
        id="avatarmaker"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
        ><g
            transform="translate(-825.000000, -1100.000000)"
            id="avatarmaker/Circle"
            ><g transform="translate(825.000000, 1100.000000)"
                ><g id="Mask" /><g
                    id="avatarmaker"
                    stroke-width="1"
                    fill-rule="evenodd"
                    mask="url(#mask-4)"
                    ><g id="Body" transform="translate(32.000000, 36.000000)"
                        ><mask id="mask-6" fill="white"
                            ><use xlink:href="#path-5" /></mask
                        ><use fill="#D0C6AC" xlink:href="#path-5" /><g
                            id="Skin/👶🏽-03-Brown"
                            mask="url(#mask-6)"
                            fill="#EDB98A"
                            ><g
                                transform="translate(-32.000000, 0.000000)"
                                id="Color"
                                ><rect
                                    x="0"
                                    y="0"
                                    width="264"
                                    height="244"
                                /></g
                            ></g
                        ><path
                            d="M156,79 L156,102 C156,132.927946 130.927946,158 100,158 C69.072054,158 44,132.927946 44,102 L44,79 L44,94 C44,124.927946 69.072054,150 100,150 C130.927946,150 156,124.927946 156,94 L156,79 Z"
                            id="Neck-Shadow"
                            fill-opacity="0.100000001"
                            fill="#000000"
                            mask="url(#mask-6)"
                        /></g
                    ><g
                        id="Clothing/Collar-+-Sweater"
                        transform="translate(0.000000, 170.000000)"
                        ><defs
                            ><path
                                d="M105.192402,29.0517235 L104,29.0517235 L104,29.0517235 C64.235498,29.0517235 32,61.2872215 32,101.051724 L32,110 L232,110 L232,101.051724 C232,61.2872215 199.764502,29.0517235 160,29.0517235 L160,29.0517235 L158.807598,29.0517235 C158.934638,30.0353144 159,31.0364513 159,32.0517235 C159,45.8588423 146.911688,57.0517235 132,57.0517235 C117.088312,57.0517235 105,45.8588423 105,32.0517235 C105,31.0364513 105.065362,30.0353144 105.192402,29.0517235 Z"
                                id="react-path-65"
                            /></defs
                        ><mask id="react-mask-66" fill="white"
                            ><use xlink:href="#react-path-65" /></mask
                        ><use
                            id="Clothes"
                            fill="#E6E6E6"
                            fill-rule="evenodd"
                            xlink:href="#react-path-65"
                        /><g
                            id="Color/Palette/Gray-01"
                            mask="url(#react-mask-66)"
                            fill-rule="evenodd"
                            fill="#262E33"
                            ><rect
                                id="🖍Color"
                                x="0"
                                y="0"
                                width="264"
                                height="110"
                            /></g
                        ><path
                            d="M156,22.2794906 C162.181647,26.8351858 166,33.1057265 166,40.027915 C166,47.2334941 161.862605,53.7329769 155.228997,58.3271669 L149.57933,53.8764929 L145,54.207887 L146,51.0567821 L145.922229,50.995516 C152.022491,47.8530505 156,42.7003578 156,36.8768102 L156,22.2794906 Z M108,21.5714994 C101.232748,26.1740081 97,32.7397769 97,40.027915 C97,47.4261549 101.361602,54.080035 108.308428,58.6915723 L114.42067,53.8764929 L119,54.207887 L118,51.0567821 L118.077771,50.995516 C111.977509,47.8530505 108,42.7003578 108,36.8768102 L108,21.5714994 Z"
                            id="Collar"
                            fill="#F2F2F2"
                            fill-rule="evenodd"
                        /></g
                    ><g
                        id="Face"
                        transform="translate(76.000000, 82.000000)"
                        fill="#000000"
                        ><g
                            id="Mouth/Twinkle"
                            transform="translate(2.000000, 52.000000)"
                            fill-opacity="0.599999964"
                            fill-rule="nonzero"
                            fill="#000000"
                            ><path
                                d="M40,16 C40,21.371763 46.1581544,25 54,25 C61.8418456,25 68,21.371763 68,16 C68,14.8954305 67.050301,14 66,14 C64.7072748,14 64.1302316,14.9051755 64,16 C62.7575758,18.9378973 59.6832595,20.7163149 54,21 C48.3167405,20.7163149 45.2424242,18.9378973 44,16 C43.8697684,14.9051755 43.2927252,14 42,14 C40.949699,14 40,14.8954305 40,16 Z"
                                id="Mouth"
                            /></g
                        ><g
                            id="Nose/Default"
                            transform="translate(28.000000, 40.000000)"
                            fill-opacity="0.16"
                            ><path
                                d="M16,8 C16,12.418278 21.372583,16 28,16 L28,16 C34.627417,16 40,12.418278 40,8"
                                id="Nose"
                            /></g
                        ><g
                            id="Eyes/Default-😀"
                            transform="translate(0.000000, 8.000000)"
                            fill-opacity="0.599999964"
                            ><circle id="Eye" cx="30" cy="22" r="6" /><circle
                                id="Eye"
                                cx="82"
                                cy="22"
                                r="6"
                            /></g
                        ><g
                            id="Eyebrow/Outline/Default"
                            fill-opacity="0.599999964"
                            ><g
                                id="I-Browse"
                                transform="translate(12.000000, 6.000000)"
                                ><path
                                    d="M3.63024536,11.1585767 C7.54515501,5.64986673 18.2779197,2.56083721 27.5230268,4.83118046 C28.5957248,5.0946055 29.6788665,4.43856013 29.9422916,3.36586212 C30.2057166,2.2931641 29.5496712,1.21002236 28.4769732,0.94659732 C17.7403633,-1.69001789 5.31209962,1.88699832 0.369754639,8.84142326 C-0.270109626,9.74178291 -0.0589363917,10.9903811 0.84142326,11.6302454 C1.74178291,12.2701096 2.9903811,12.0589364 3.63024536,11.1585767 Z"
                                    id="Eyebrow"
                                    fill-rule="nonzero"
                                /><path
                                    d="M61.6302454,11.1585767 C65.545155,5.64986673 76.2779197,2.56083721 85.5230268,4.83118046 C86.5957248,5.0946055 87.6788665,4.43856013 87.9422916,3.36586212 C88.2057166,2.2931641 87.5496712,1.21002236 86.4769732,0.94659732 C75.7403633,-1.69001789 63.3120996,1.88699832 58.3697546,8.84142326 C57.7298904,9.74178291 57.9410636,10.9903811 58.8414233,11.6302454 C59.7417829,12.2701096 60.9903811,12.0589364 61.6302454,11.1585767 Z"
                                    id="Eyebrow"
                                    fill-rule="nonzero"
                                    transform="translate(73.000154, 6.039198) scale(-1, 1) translate(-73.000154, -6.039198) "
                                /></g
                            ></g
                        ></g
                    ><g id="Top" stroke-width="1" fill-rule="evenodd"
                        ><defs
                            ><rect
                                id="react-path-8"
                                x="0"
                                y="0"
                                width="264"
                                height="280"
                            /><path
                                d="M1,64 C1.34685629,65.488448 2.67275588,65.2226722 3,64 C2.53726005,62.445722 6.29594493,35.2480719 16,28 C19.618222,25.4833872 39.0082164,23.2319099 58.3126144,23.245568 C77.4086061,23.2590787 96.4208396,25.5105561 100,28 C109.704055,35.2480719 113.46274,62.445722 113,64 C113.327244,65.2226722 114.653144,65.488448 115,64 C115.719178,53.7019177 115,0.274362825 58,1 C1,1.72563718 0.280821545,53.7019177 1,64 Z"
                                id="react-path-9"
                            /><filter
                                x="-0.8%"
                                y="-2.0%"
                                width="101.5%"
                                height="108.0%"
                                filterUnits="objectBoundingBox"
                                id="react-filter-5"
                                ><feOffset
                                    dx="0"
                                    dy="2"
                                    in="SourceAlpha"
                                    result="shadowOffsetOuter1"
                                /><feColorMatrix
                                    values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.16 0"
                                    type="matrix"
                                    in="shadowOffsetOuter1"
                                    result="shadowMatrixOuter1"
                                /><feMerge
                                    ><feMergeNode
                                        in="shadowMatrixOuter1"
                                    /><feMergeNode
                                        in="SourceGraphic"
                                    /></feMerge
                                ></filter
                            ></defs
                        ><mask id="react-mask-6" fill="white"
                            ><use xlink:href="#react-path-8" /></mask
                        ><g id="Mask" /><g
                            id="Top/Short-Hair/The-Caesar"
                            mask="url(#react-mask-6)"
                            ><g transform="translate(-1.000000, 0.000000)"
                                ><g
                                    id="Facial-Hair/Beard-Medium"
                                    transform="translate(49.000000, 72.000000)"
                                    ><defs
                                        ><path
                                            d="M105.017591,94.1296214 C101.150441,99.7213834 98.257542,95.9467308 94.1374777,92.8762163 C91.6567227,91.0272796 87.9608129,88.7275108 84.5044337,88.8410391 C81.0477114,88.7275108 77.3518016,91.0272796 74.8710466,92.8762163 C70.7509822,95.9467308 67.8580835,99.7213834 63.9909333,94.1296214 C61.0884259,89.9323547 62.3028943,82.8739117 65.014944,78.9027173 C68.8738581,73.2512381 74.1088724,75.9847769 79.9622738,75.3400279 C81.5538829,75.1648137 83.1526985,74.7228407 84.5044337,74 C85.856169,74.7228407 87.4546414,75.1648137 89.0462504,75.3400279 C94.899995,75.9847769 100.134666,73.2512381 103.993923,78.9027173 C106.70563,82.8739117 107.920098,89.9323547 105.017591,94.1296214 M140.39109,26 C136.966521,40.0748212 135.393023,54.4337754 132.909944,68.6711471 C132.392536,71.6390145 131.826063,74.5963095 131.224594,77.5496398 C131.098329,78.1697764 130.973781,80.4725746 130.362704,80.7643064 C128.511632,81.6484223 124.739149,76.9466834 123.730409,75.8851496 C121.196893,73.219256 118.684993,70.5292442 115.599415,68.437233 C109.364783,64.2102603 102.065485,61.7108818 94.4700836,61.117837 C91.2922091,60.8693859 86.9951134,61.3025234 84.000116,63.1104016 C81.0051185,61.3025234 76.7080229,60.8693859 73.5298053,61.117837 C65.9344039,61.7108818 58.6351055,64.2102603 52.4004739,68.437233 C49.3148957,70.5292442 46.8033387,73.219256 44.2694796,75.8851496 C43.2607395,76.9466834 39.4882573,81.6484223 37.6371849,80.7643064 C37.0261079,80.4725746 36.9015594,78.1697764 36.7752954,77.5496398 C36.1738255,74.5963095 35.6073527,71.6390145 35.0899445,68.6711471 C32.6072086,54.4337754 31.0337113,40.0748212 27.6091415,26 C26.6127533,26 25.7385119,44.7478165 25.6273446,46.4945731 C25.174784,53.5889755 24.6463963,60.5254529 25.3216346,67.6261326 C26.485803,79.8749043 27.6993791,95.2339402 37.032627,104.58753 C45.4659003,113.039493 57.7103052,114.806417 68.2713185,120.141327 C69.631059,120.828202 71.4347824,121.676306 73.3798667,122.37111 C75.4289129,123.934171 79.4926946,125 84.1740722,125 C89.0846465,125 93.3155222,123.827456 95.2540874,122.137856 C96.9548781,121.49261 98.5180822,120.752874 99.7285704,120.141327 C110.288776,114.805245 122.533989,113.039493 130.967262,104.58753 C140.30051,95.2339402 141.514086,79.8749043 142.678597,67.6261326 C143.353493,60.5254529 142.825105,53.5889755 142.372887,46.4945731 C142.261377,44.7478165 141.387136,26 140.39109,26 Z"
                                            id="react-path-14"
                                        /></defs
                                    ><mask id="react-mask-13" fill="white"
                                        ><use
                                            xlink:href="#react-path-14"
                                        /></mask
                                    ><use
                                        id="Beardness"
                                        fill="#4a312c"
                                        fill-rule="evenodd"
                                        xlink:href="#react-path-14"
                                    /></g
                                ><g
                                    id="Hair"
                                    stroke-width="1"
                                    fill-rule="evenodd"
                                    transform="translate(75.000000, 34.000000)"
                                    ><mask id="react-mask-7" fill="white"
                                        ><use
                                            xlink:href="#react-path-9"
                                        /></mask
                                    ><use
                                        id="Caesar"
                                        fill="#28354B"
                                        xlink:href="#react-path-9"
                                    /><g
                                        id="Skin/👶🏽-03-Brown"
                                        mask="url(#react-mask-7)"
                                        fill="#4A312C"
                                        ><g
                                            transform="translate(0.000000, 0.000000) "
                                            id="Color"
                                            ><rect
                                                x="0"
                                                y="0"
                                                width="264"
                                                height="280"
                                            /></g
                                        ></g
                                    ></g
                                ><g
                                    id="Top/_Resources/Prescription-02"
                                    fill="none"
                                    transform="translate(62.000000, 85.000000)"
                                    stroke-width="1"
                                    ><defs
                                        ><filter
                                            x="-0.8%"
                                            y="-2.4%"
                                            width="101.5%"
                                            height="109.8%"
                                            filterUnits="objectBoundingBox"
                                            id="react-filter-12"
                                            ><feOffset
                                                dx="0"
                                                dy="2"
                                                in="SourceAlpha"
                                                result="shadowOffsetOuter1"
                                            /><feColorMatrix
                                                values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.2 0"
                                                type="matrix"
                                                in="shadowOffsetOuter1"
                                                result="shadowMatrixOuter1"
                                            /><feMerge
                                                ><feMergeNode
                                                    in="shadowMatrixOuter1"
                                                /><feMergeNode
                                                    in="SourceGraphic"
                                                /></feMerge
                                            ></filter
                                        ></defs
                                    ><g
                                        id="Wayfarers"
                                        filter="url(#react-filter-12)"
                                        transform="translate(6.000000, 7.000000)"
                                        fill="#252C2F"
                                        ><path
                                            d="M34,41 L31.2421498,41 C17.3147125,41 9,33.3359286 9,20.5 C9,10.127 10.8170058,0 32.5299306,0 L35.4700694,0 C57.1829942,0 59,10.127 59,20.5 C59,32.5686429 48.7212748,41 34,41 Z M32.3853606,6 C13,6 13,12.8410159 13,21.5015498 C13,28.5719428 16.116254,37 30.9709365,37 L34,37 C46.3649085,37 55,30.6270373 55,21.5015498 C55,12.8410159 55,6 35.6146394,6 L32.3853606,6 Z"
                                            id="Left"
                                            fill-rule="nonzero"
                                        /><path
                                            d="M96,41 L93.2421498,41 C79.3147125,41 71,33.3359286 71,20.5 C71,10.127 72.8170058,0 94.5299306,0 L97.4700694,0 C119.182994,0 121,10.127 121,20.5 C121,32.5686429 110.721275,41 96,41 Z M94.3853606,6 C75,6 75,12.8410159 75,21.5015498 C75,28.5719428 78.1194833,37 92.9709365,37 L96,37 C108.364909,37 117,30.6270373 117,21.5015498 C117,12.8410159 117,6 97.6146394,6 L94.3853606,6 Z"
                                            id="Right"
                                            fill-rule="nonzero"
                                        /><path
                                            d="M2.95454545,5.77156439 C3.64590909,5.09629136 11.2095455,0 32.5,0 C50.3513636,0 54.1302273,1.85267217 59.8502273,4.6518809 L60.2689233,4.85850899 C60.6666014,4.99901896 62.7002447,5.68982981 65.0790606,5.76579519 C67.2462948,5.67278567 69.1000195,5.08540191 69.641698,4.89719767 C76.1703915,1.7220864 82.5610971,0 97.5,0 C118.790455,0 126.354091,5.09629136 127.045455,5.77156439 C128.679318,5.77156439 130,7.06150904 130,8.65734659 L130,11.5431288 C130,13.1389663 128.679318,14.428911 127.045455,14.428911 C127.045455,14.428911 120.143997,14.428911 120.143997,17.3146932 C120.143997,20.2004754 118.181818,13.1389663 118.181818,11.5431288 L118.181818,8.73240251 C114.578575,7.35340151 108.128411,4.78617535 97.5,4.78617535 C85.6584651,4.78617535 79.7610984,6.88602813 74.7022935,8.97112368 L74.7588636,9.10752861 L74.7563667,11.0937608 L72.5391666,16.4436339 L69.8004908,15.3608351 C69.5558969,15.2641292 69.0281396,15.090392 68.2963505,14.9099044 C66.256272,14.4067419 64.1589087,14.253569 62.3040836,14.6343084 C61.6235903,14.7739931 60.9922286,14.9836085 60.4128127,15.266732 L57.7704824,16.5578701 L55.1266751,11.3962031 L55.2440909,9.10175705 L55.3248203,8.90683855 C50.9620526,6.87386374 46.9392639,4.78617535 32.5,4.78617535 C21.8721459,4.78617535 15.422131,7.3524397 11.8181818,8.7314671 L11.8181818,11.5431288 C11.8181818,13.1389663 8.86363636,20.2004754 8.86363636,17.3146932 C8.86363636,14.428911 2.95454545,14.428911 2.95454545,14.428911 C1.32363636,14.428911 0,13.1389663 0,11.5431288 L0,8.65734659 C0,7.06150904 1.32363636,5.77156439 2.95454545,5.77156439 Z"
                                            id="Stuff"
                                            fill-rule="nonzero"
                                        /></g
                                    ></g
                                ></g
                            ></g
                        ></g
                    ></g
                ></g
            ></g
        ></g
    ></svg
>
