<script>
    import { links } from "svelte-routing";
    import Logo from "./Logo.svelte";
    import MenuButton from "./MenuButton.svelte";
    let activeLink = ["home", "blog", "portfolio", "contact"];
    let selected;
    let page = window.location.pathname;
    if (page == "/") {
        selected = activeLink[0];
    } else {
        selected = page.replace("/", "");
    }
    let navVisible = false;
    $: navFlexOrHidden = navVisible ? "flex" : "hidden";
    function clickOutside(node, { enabled: initialEnabled, cb }) {
        const handleOutsideClick = ({ target }) => {
            if (!node.contains(target)) {
                cb();
            }
        };

        function update({ enabled }) {
            if (enabled) {
                window.addEventListener("click", handleOutsideClick);
            } else {
                window.removeEventListener("click", handleOutsideClick);
            }
        }

        update({ enabled: initialEnabled });
        return {
            update,
            destroy() {
                window.removeEventListener("click", handleOutsideClick);
            },
        };
    }
</script>

<!-- BEGIN Markup -->

<header
    class="flex flex-row items-center justify-between h-20 bg-charcoal pl-1 lg:pr-6 shadow-lg"
    use:clickOutside={{
        enabled: navVisible,
        cb: () => (navVisible = false),
    }}
>
    <button
        on:click={() => (navVisible = !navVisible)}
        class="block lg:hidden ml-4"
    >
        <MenuButton />
    </button>
    <Logo />
    <nav
        use:links
        class="{navFlexOrHidden} z-50 absolute top-20 left-0 space-y-3 pt-1 pb-5 flex-col w-full text-sandy-brown text-2xl items-center lg:w-auto lg:p-0 lg:flex lg:flex-row lg:relative lg:space-x-5 lg:space-y-0 lg:top-0 bg-charcoal"
    >
        <a
            on:click={() => (selected = activeLink[0])}
            on:click={() => (navVisible = false)}
            class:selected={selected === "home"}
            href="/">Home</a
        >
        <a
            on:click={() => (selected = activeLink[1])}
            on:click={() => (navVisible = false)}
            class:selected={selected === "blog"}
            href="/blog">Blog</a
        >
        <a
            on:click={() => (selected = activeLink[2])}
            on:click={() => (navVisible = false)}
            class:selected={selected === "portfolio"}
            href="/portfolio">Portfolio</a
        >
        <a
            on:click={() => (selected = activeLink[3])}
            on:click={() => (navVisible = false)}
            class:selected={selected === "contact"}
            href="/contact">Contact</a
        >
    </nav>
</header>

<!-- END Markup -->
<style>
    .selected {
        color: #e9c46a;
        /* text-decoration: underline; */
        font-weight: 900;
    }
</style>
