<svg
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
    id="svg931"
    xml:space="preserve"
    width="128"
    height="72"
    viewBox="0 0 2560 1440"
>
    <metadata id="metadata937">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                />
                <dc:title />
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <defs id="defs935">
        <clipPath clipPathUnits="userSpaceOnUse" id="clipPath949">
            <path
                d="m 435.8681,981.9601 c -12.8732,0 -23.5381,-10.665 -23.5381,-23.5382 V 254.5041 c 0,-12.8732 10.6647,-23.6238 23.5381,-23.6237 h 440.4621 l -1.6263,-6.505 -18.4025,-92.0982 H 802.3778 V 98.03991 h 141.8278 31.4982 141.9132 v 34.23729 h -53.923 l -18.403,92.0982 -1.369,6.505 h 440.205 c 12.873,0 23.538,10.7507 23.538,23.6237 v 703.9178 c 0.274,12.8732 -10.408,23.5382 -23.281,23.5382 z m 524.2578,-22.1687 c 5.7518,0 10.4424,-4.4165 10.4423,-10.4423 0,-5.7519 -4.6907,-10.4424 -10.4423,-10.4424 -5.7519,0 -10.4425,4.6905 -10.4424,10.4424 0,5.7518 4.6907,10.4423 10.4424,10.4423 z M 475.3265,911.0034 H 1444.925 V 358.5854 H 475.3265 Z"
                id="path947"
            />
        </clipPath>
        <linearGradient
            x1="0"
            y1="0"
            x2="100"
            y2="0"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(-10.81451,-7.871932,-7.873863,10.81186,1455.816,974.6451)"
            spreadMethod="pad"
            id="linearGradient963"
        >
            <stop
                style="stop-opacity:1;stop-color:#212121"
                offset="0"
                id="stop959"
            />
            <stop
                style="stop-opacity:1;stop-color:#000000"
                offset="1"
                id="stop961"
            />
        </linearGradient>
        <linearGradient
            x1="0"
            y1="0"
            x2="100"
            y2="0"
            gradientUnits="userSpaceOnUse"
            gradientTransform="matrix(-0.5778372,-6.418388,-10.13917,0.9128136,988.8919,953.7747)"
            spreadMethod="pad"
            id="linearGradient981"
        >
            <stop
                style="stop-opacity:1;stop-color:#56c1ff"
                offset="0"
                id="stop977"
            />
            <stop
                style="stop-opacity:1;stop-color:#5e5e5e"
                offset="1"
                id="stop979"
            />
        </linearGradient>
    </defs>
    <g id="g939" transform="matrix(1.3333333,0,0,-1.3333333,0,1440)">
        <g id="g941" />
        <g id="g943">
            <g id="g945" clip-path="url(#clipPath949)">
                <g id="g951">
                    <g id="g957">
                        <path
                            d="M 0,0 H 1920 V 1080 H 0 Z"
                            style="fill:url(#linearGradient963);stroke:none"
                            id="path965"
                        />
                    </g>
                </g>
            </g>
        </g>
        <g id="g967">
            <g id="g969">
                <g id="g975">
                    <path
                        d="m 475.1203,354.0777 h 969.7595 V 911.6328 H 475.1203 Z"
                        style="fill:url(#linearGradient981);stroke:none"
                        id="path983"
                    />
                </g>
            </g>
        </g>
    </g>
</svg>
