<script>
    export let href = "";
    export let target = "";
    let socialHover = false;
</script>

<a
    on:mouseover={() => (socialHover = true)}
    on:mouseleave={() => (socialHover = false)}
    class:moused={socialHover}
    {href}
    {target}
>
    <div
        class="border-4 border-gray-700 bg-red-400 rounded-full p-3 transform hover:scale-105"
    >
        <!-- <SVG> -->
        <slot />
        <!-- <SVG/> -->
    </div>
</a>

<style>
    .moused > div {
        box-shadow: 0 2px 15px #2a9d8fff;
    }
</style>
